<h2>Resource Entry</h2>

<form>
    Resource Name:<br />
    <input type="text" name="resource name" />
    <br />
    <br />
    URL:<br />
    <input type="url" name="url" />
    <br />
    <br />
    <button type="submit">Submit</button>
</form>
